.about-area {
    position: relative;
    z-index: 1;
}
.about-content {
    .content {
        max-width: 635px;

        .sub-title {
            position: relative;
            display: block;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: var(--mainColor);
            font: {
                weight: 700;
                size: 15px;
            };
            img {
                margin-right: 5px;
                animation: {
                    name: rotateme;
                    duration: 40s;
                    iteration-count: infinite;
                    timing-function: linear;
                };
            }
        }
        h2 {
            margin-bottom: 15px;
            font: {
                size: 44px;
            };
        }
        p {
            margin-bottom: 20px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
        .features-list {
            list-style-type: none;
            --bs-gutter-x: 1.5rem;
            padding-left: 0;
            flex-wrap: wrap;
            display: flex;
            margin: {
                top: -20px;
                bottom: 25px;
                left: calc(-0.5* var(--bs-gutter-x));
                right: calc(-0.5* var(--bs-gutter-x));
            };
            li {
                flex: 0 0 50%;
                max-width: 50%;
                padding: {
                    top: 30px;
                    left: calc(var(--bs-gutter-x) * 0.5);
                    right: calc(var(--bs-gutter-x) * 0.5);
                };
                .inner {
                    display: block;
                    border: 1px solid #f0eae2;
                    border-radius: 5px;
                    padding: 20px 20px 20px 95px;
                    position: relative;
                    background-color: var(--whiteColor);
                    transition: var(--transition);

                    .icon {
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    h3 {
                        margin-bottom: 3px;
                        font: {
                            size: 25px;
                        };
                    }
                    &:hover {
                        border-color: var(--mainColor);
                    }
                }
            }
        }
        .default-btn {
            margin-top: 5px;
        }
    }
}
.about-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .about-area {
        &.res-pt-0 {
            padding-top: 0;
        }
    }
    .about-content {
        margin-top: 30px;
        text-align: center;

        .content {
            max-width: 100%;

            .sub-title {
                margin-bottom: 12px;
                font-size: 14px;
            }
            h2 {
                font-size: 27px;
                margin-bottom: 12px;
            }
            .features-list {
                text-align: start;

                li {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-top: 20px;

                    .inner {
                        padding: 15px 8px;
                        text-align: center;

                        .icon {
                            left: 0;
                            top: 0;
                            transform: translateY(0);
                            position: relative;
                            margin: {
                                bottom: 20px;
                            };
                            img {
                                width: 50px;
                            }
                        }
                        h3 {
                            font-size: 19px;
                        }
                    }
                }
            }
            .default-btn {
                margin-top: 0;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .about-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .about-area {
        .container-fluid {
            max-width: 720px;
        }
        &.res-pt-0 {
            padding-top: 0;
        }
    }
    .about-content {
        text-align: center;
        margin-top: 35px;

        .content {
            max-width: 585px;
            margin: {
                left: auto;
                right: auto;
            };
            .sub-title {
                font-size: 14px;
            }
            h2 {
                font-size: 35px;
            }
            .features-list {
                text-align: start;

                li {
                    .inner {
                        padding: 15px 15px 15px 90px;

                        .icon {
                            left: 15px;

                            img {
                                width: 50px;
                            }
                        }
                        h3 {
                            margin-bottom: 3px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-area {
        .container-fluid {
            max-width: 960px;
        }
    }
    .about-content {
        .content {
            max-width: 100%;

            h2 {
                margin-bottom: 15px;
                font-size: 36px;
            }
            .features-list {
                li {
                    .inner {
                        padding: 15px 15px 15px 80px;

                        .icon {
                            left: 15px;

                            img {
                                width: 50px;
                            }
                        }
                        h3 {
                            font-size: 22px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
            .default-btn {
                margin-top: 0;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .about-content {
        .content {
            max-width: 545px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}