<div
    class="banner-wrapper"
    style="background-image: url(images/main-banner/bg4.jpg);"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                @for (content of bannerWrapperContent; track content) {
                    <div class="banner-wrapper-content">
                        <h1 class="animate__animated animate__fadeInLeft">{{content.title}}</h1>
                        <p class="animate__animated animate__fadeInLeft">{{content.paragraphText}}</p>
                        <div class="btn-box">
                            <a routerLink="/{{content.defaultBtnLink}}" class="default-btn animate__animated animate__fadeInRight">
                                <i class="{{content.defaultBtnIcon}}"></i>
                                {{content.defaultBtnText}}
                                <span></span>
                            </a>
                            <a routerLink="/{{content.optionalBtnLink}}" class="default-btn animate__animated animate__fadeInRight">
                                <i class="{{content.optionalBtnIcon}}"></i>
                                {{content.optionalBtnText}}
                                <span></span>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="images/main-banner/banner-four/img1.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/img2.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/img3.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/img4.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/img5.png" class="animate__animated animate__fadeInUp" alt="image">
                    <img src="images/main-banner/banner-four/img6.png" class="animate__animated animate__fadeInUp" alt="image">
                    <img src="images/main-banner/banner-four/img7.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/img8.png" class="animate__animated animate__fadeInLeft" alt="image">
                    <img src="images/main-banner/banner-four/img9.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/img10.png" class="animate__animated animate__fadeInDown" alt="image">
                    <img src="images/main-banner/banner-four/main-pic.png" class="animate__animated animate__fadeInUp" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>