<app-navbar />

<app-inner-page-banner
    [pageTitle]="'Gallery'"
/>

<!-- Gallery -->
<div class="gallery-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let image of _album; let i=index">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="open(i)" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->

<app-footer />