<div class="testimonials-area bg-f1f8fb">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <img src="images/star-icon.png" alt="image"> NOSOTROS
            </span>
        </div>
        
        <div class="testimonials-slides">
            <div class="row">
                <div *ngFor="let testimonialsItemContent of singleTestimonialsItem" class="single-testimonial-item col-lg-6 col-md-6">
                    <h1>{{ testimonialsItemContent.titulo }}</h1>
                    <p>{{ testimonialsItemContent.paragraphText }}</p>
                    <div class="client-info">
                        <div class="d-flex justify-content-center align-items-center">
                            <img [src]="testimonialsItemContent.clientImg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="shape-img1">
        <img src="images/shape/shape1.svg" alt="image">
    </div>
</div>