.upcoming-bootcamps-area {
    position: relative;
    z-index: 1;
}
.upcoming-bootcamps-content {
    text-align: center;

    h2 {
        max-width: 720px;
        margin: {
            left: auto;
            right: auto;
            bottom: 0;
        };
        font: {
            size: 44px;
        };
    }
    .default-btn {
        margin: {
            bottom: -5px;
            top: 30px;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .upcoming-bootcamps-content {
        h2 {
            max-width: 100%;
            font-size: 27px;
            margin: {
                left: 0;
                right: 0;
            };
        }
        .default-btn {
            margin-top: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .upcoming-bootcamps-content {
        h2 {
            max-width: 600px;
            font-size: 35px;
        }
        .default-btn {
            margin-top: 25px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .upcoming-bootcamps-content {
        h2 {
            max-width: 700px;
            font-size: 36px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}