<!-- Footer -->
<footer class="bg-color footer-area"
    [ngClass]="{'bg-white': router.url === '/index-2' || router.url === '/index-4' || router.url === '/proyectos'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <p>Constrarna es una empresa dedicada a la construcción y diseño de proyectos residenciales,
                        comerciales y corporativos. Ofrecemos soluciones integrales, garantizando calidad, innovación y
                        cumplimiento en cada proyecto.</p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Menú</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/">Inicio</a></li>
                        <li><a routerLink="/about-us">Nosotros</a></li>
                        <li><a routerLink="/servicio">Servicio</a></li>
                        <li><a routerLink="/proyectos">Proyectos</a></li>
                        <li><a routerLink="/contact-us">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Servicios en los sectores: </h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="servicio">Corporativos</a></li>
                        <li><a routerLink="servicio">Hoteleros</a></li>
                        <li><a routerLink="servicio">Residenciales</a></li>
                        <li><a routerLink="servicio">Restauración</a></li>
                        <li><a routerLink="servicio">Comerciales</a></li>
                        <!-- <li><a routerLink="/service-details">Comerciales</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i> 175 5th Ave, New York, NY 10010, United States</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">+1 (123) 456 7890</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:hello&#64;wilo.com">constrarna&#64;gmail.com</a>
                        </li>
                        <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">+55 785 4578964</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© Constructora Constrarna 2025- Todos los derechos reservados.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/privacy-policy">Politica de privacidad </a></li>
                        <li><a routerLink="/terms-conditions">Terminos & Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-map">
        <img src="images/footer-map.png" alt="image">
    </div>
</footer>

<!-- Back to Top -->
<div class="go-top" *ngIf="isShow" (click)="scrollToTop()">
    <i class="flaticon-up"></i>
</div>